.postbody {
  padding-top: --space-m;
  max-height: 80%;
  overflow-y: scroll;
  max-width: 100%;
  overflow-x: hidden;
}

.post_title_box {
  display: flex;
  align-content: center;
  justify-content: center;
}

.post_topper {
  display: block;
  width: 50%;
  min-width: 400px;
  max-width: 800px;
  height: 100px;
  border: var(--border);
  border-radius: var(--border-radius);
}

.post_highlightbox {
  margin-top: var(--space-l);
  opacity:0.9;
  align-items: center;
  justify-content: center;
  display: flex;
  height: var(--space-xxxl);
  background-color: var(--color-primary-rotate);
}

.post_title {
  opacity: 1;
  padding-left: var(--space-s);
  text-align: justify;
  color: var(--color-dark);
  font-weight: bold;
  font-size:var(--font-size-xxxl);
}

.gobackdiv {
  width: auto;
  display: flex;
  justify-content: center;
}

hr.full_line {
  border-top: 1px solid rgb(122, 121, 121);
}

.partial_line {
  width: 10%;
  height: 1px;
  background-color: rgb(122, 121, 121);
  opacity: 0.5;
}

.comment {
  .username {
    font-size:var(--font-size-s);
  }

  .timestamp {
    font-size:var(--font-size-xxs);
  }

  .body {
    font-size:var(--font-size-s);
  }

}