.topbar {
margin-bottom:auto;
flex: 0 0 50px;
width: 100%;
display: flex;
align-items: inherit;
@media screen and (max-width: 599px) {
  padding-bottom: var(--space-xs);
}
padding-left: var(--space-m);
@media only screen and (min-width: 600px) {
  padding-bottom: var(--space-m);
}

.banner {
  width: fit-content;
  display: flex;

  @media screen and (max-width: 599px) {
    transition: 500ms;
    padding-top: var(--space-xs);

    .bannertext{
      font-size: var(--font-size-xl);
      padding-right: var(--space-s);
     }

     .verticalline {
      transition: 500ms;
      height: var(--space-l);
     }
  }

  @media only screen and (min-width: 600px) {
    transition: 500ms;
    height: var(--space-xl);
    padding-top: var(--space-m);

    .bannertext{
        transition: 500ms;
        font-size: var(--font-size-xxxl);
        padding-right: var(--space-xl);
      }

      .verticalline {
          transition: 500ms;
          height: var(--space-xl);
        }
      }
    }
  }

  .bannertext{
    color: var(--color-text-header);
    text-align: center;
  }

  .verticalline {
    border-left: 2px solid black;
    width:var(--space-xxxs);
  }


.navbar {
  overflow:hidden;
  width:100%;
}

.navbar .nav_link_log {
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: var(--font-size-m);
  transition: 1000ms;
  margin-right: 5%;
  &:hover {
    background-color: var(--color-highlight);
    transition: 500ms;
  }
}

.navbar .nav_link {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: var(--font-size-l);
  transition: 1000ms;

  &:hover {
    background-color: var(--color-highlight);
    transition: 500ms;
  }
}

.navbar a.active {
  background-color: var(--color-highlight);
}

.navbar .burger {
  display: none;
}

  @media screen and (max-width: 600px) {
    .navbar a:not(:last-child) {display: none;}
    .navbar .burger {
      position: absolute;
      right: 0;
      top: 0;
      display: block;
    }
  }

  @media screen and (max-width: 600px) {
    .navbar.responsive {
      margin-left: auto;
      margin-right: var(--s);
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
    .navbar.responsive a.burger {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a.nav_link {
      width: 100%;
      float: none;
      display: flex;
      justify-content: center;
    }
    .navbar.responsive a.nav_link_log {
      width: 100%;
      font-size: var(--font-size-s);
      float: none;
      display: flex;
      justify-content: center;
      margin-right: none;

    }
  }


@media screen and (max-width: 599px) {
}
@media only screen and (min-width: 600px) {
}