.topbar {
margin-bottom:auto;
flex: 0 0 50px;
width: 100%;
display: flex;
align-items: center;
padding-bottom: var(--space-m);

.verticalline {
  border-left: 2px solid black;
  height: var(--space-xl);
  width:var(--space-xxxs);
}

.banner {
  width: 15%;
  min-width: 200px;
  .bannertext{
  font-size: var(--font-size-xxxl);
  color: var(--color-text-header);
  text-align: center;
}

}

.navbar {
  display: flex;
  gap: var(--space-s);
  padding-right: var(--space-xs);
  padding-left: var(--space-s);
}

.login_corner {
  display: block;
  margin-left: auto;
  margin-right: 5%;
}

.signin {

}

.login_link {

}

.logout {
  display:flex;
  justify-content: right;
}

.logout_link {
  font-size: var(--font-size-xs);
  text-align: right;
}
}