<div class = "archive_list">
  <% @posts.each do |post| %>
    <div class = "archive_post">
      <p class = "archive_title"><%= post.title %> - <%= post.updated_at.to_formatted_s(:long) %></p>
      <p class = "archive_short"><%= "#{post.content.to_plain_text.slice(0..240)}..." %></p>
      <%= link_to 'read more', post_path(post.id), class: "read_more_link" %>
    </div>
    <br>
  <% end %>
</div>