<div data-controller="cookies" class="cookies" id="cookiebar">
  <p class = "cookies_text">This website uses only strictly neccessary cookies; I don't collect personal information</p>
  <button data-action="cookies#disappear" class="cookie_button">ok</button>
</div>