<div data-controller="cookies" class="cookies" id="cookiebar">
  <p class = "cookies_text">This website uses cookies to only make you click ok here once. It doesn't collect personal data (and neither do I)</p>
  <button data-action="cookies#disappear" class="cookie_button">ok</button>
</div>
