<div class = "footer">
  <div class = "socials">
    <%= link_to image_tag("github_logo.png", size: "30x29", alt: "github logo"), "https://github.com/TrueZortal", target: :_blank %>
    <%= link_to image_tag("linkedin_logo.png", size: "30x29", alt: "LinkedIn logo"), "https://www.linkedin.com/in/buczekm/", target: :_blank %>
    <%= mail_to "mtsbck@gmail.com", image_tag("mail_icon.png", size: "30x29", alt: "email icon")%>
  </div>
  <div class = "signature">
    <p>&copy Mateusz Buczek 2023</p>
  </div>
</div>
