<nav class = "menu_static" id = "menu_static">
  <%= link_to posts_path, class: "nav_link_cont", data: { controller: "menu" } do %>
    <div id="blog_sketch"></div>
    <div id="blog_line_cont">
      <div class="line"></div>
      <div class="nav_link">Blog</div>
    </div>
  <% end %>
  <%= link_to projects_path, class: "nav_link_cont" do %>
    <div id="projects_sketch"></div>
    <div id="projects_line_cont">
      <div class="line"></div>
      <div class="nav_link">Projects</div>
    </div>
  <% end %>
  <%= link_to creative_path, class: "nav_link_cont" do %>
    <div id="fiction_sketch"></div>
    <div id="fiction_line_cont">
      <div class="line"></div>
      <div class="nav_link">Creative</div>
    </div>
  <% end %>
  <%= link_to about_path, class: "nav_link_cont" do %>
    <div id="about_sketch"></div>
    <div id="about_line_cont">
      <div class="line"></div>
      <div class="nav_link">About</div>
    </div>
  <% end %>
</nav>
