<div class = "outer_project_block">
          <br>
            <%= link_to  "A place to store all my musings and practice rails and turbo","https://github.com/TrueZortal/Buczek.blog", class: "project_subtitle_text", target: :_blank %>
              <div class = "project_block">
                <p class = "project_text">
                My personal website/blog. Started as a weekend project, with initial aim of being a summary of my year of coding and has since been somewhat improved. Like with other projects it's been a testing ground for new technologies and solutions
                Mainly focused originally on working with active storage in production, authorization using devise and working better with turbo. Now remade multiple times and replaced by the mateuszbuczek.com with the screenshots showing the previous iterations.
                </p>
              </div>
          </div>
  <div class='gallery'>
    <%= image_tag "https://buczek-blog-bucket.s3.eu-central-1.amazonaws.com/blog_blog.png", class: "image", size:"600x327" %>
    <%= image_tag "https://buczek-blog-bucket.s3.eu-central-1.amazonaws.com/blog_new2.png", class: "image", size:"600x327" %>
    <%= image_tag "https://buczek-blog-bucket.s3.eu-central-1.amazonaws.com/blog_new.png", class: "image", size:"600x327" %>
</div>
