<div class = "outer_project_block">
  <br>
  <%= link_to  "The new, improved approach to a personal page",root_path, class: "project_subtitle_text", target: :_blank %>
    <div class = "project_block">
      <p class = "project_text">
      Newest and likely not final iteration of my personal page. This time focused more on the content and the presentation. Leveraging some of the newly picked up skills, techniques and technologies.

      Now also including a fiction section, for the stories that I've written and write. Stay a while and read if you may.
    </p>
  </div>
</div>
