<div class = "outer_project_block console_ugmssk">
          <br>
          <%= link_to  "Ultimate Giga Master Super Summoner King","https://github.com/TrueZortal/projectXD", class: "project_title_text", target: :_blank %>
          <%= link_to  "Playable (system) console strategy game","https://github.com/TrueZortal/projectXD", class: "project_title_subtext", target: :_blank %>
            <div class = "project_block">
              <p class = "project_text">
              A terminal playable turn based strategy game loosely based on GGG's atrocious treatment of classic summoners. Desparate times required desperate measures.
              It was either learn to code and make your own or Diablo immortal or quit altogether. On a relatively more serious note. This started as a fun little expansion on my initial idea of writing console chess, ended up as a fully playabe game that drove my latter foray back into rails to bring it to life.
            </p>
          </div>
        </div>
        <%= image_tag "https://buczek-blog-bucket.s3.eu-central-1.amazonaws.com/summoner_game_console.png", class: " console_ugmssk_image" %>
