<div class = "outer_project_block">
  <br>
  <%= link_to  "Spaced reptition based courses for the IT space","https://koduje.com", class: "project_subtitle_text", target: :_blank%>
    <div class = "project_block">
      <p class = "project_text">
      There is plenty of resources that teach you how to code. Few that bridge the gap between knowing nothing at all and gaining basic understanding of the concepts both programming and general IT.

      This was the initial goal of Koduje. Courses focused on the basics of basics. The very first steps in understanding the inner workings of digital world.

      Currently the platform is in closed Beta, likely to eventually expand past the very basics into more advanced topics.
    </p>
  </div>
</div>
<%= image_tag "https://buczek-blog-bucket.s3.eu-central-1.amazonaws.com/koduje.png", class: "image" %>
