<div class = "outer_project_block">
  <br>
  <%= link_to  "A loosely myth inspired Christmas themed bullet hell",'https://store.steampowered.com/app/3427580/Krampuss_Escape/', class: "project_subtitle_text", target: :_blank%>
    <div class = "project_block">
      <p class = "project_text">
        Start of 2025 marks a breakpoint in my "career" of indie game developement. I've decided to spend an extra while working on my 20s Game Jam project.
      </p>
      <p class = "project_text">
        And that's how Krampus's Escape was born. A bullet hell where you avoid all things Christmas as a Krampus transformed into a bat from hell.20s
      </p>
      <p class = "project_text">
        You can watch the trailer here:
      </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/aIPLLx_Dl8Y?si=zm9VR-ZKQQhaJZIF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p class = "project_text">
        And buy it on steam if you like what you're seeing :-)
      </p>
      <%= link_to image_tag('steamlogo.png'), 'https://store.steampowered.com/app/3427580/Krampuss_Escape/'%>
  </div>
</div>
