<div class = "outer_project_block timers">
          <br>
          <%= link_to  "Mindful-timers.com","https://www.mindful-timers.com", class: "project_title_text", target: :_blank %>
          <%= link_to  "simple timers for improved mindfulness and work hygiene","https://www.mindful-timers.com", class: "project_subtitle_text", target: :_blank %>
            <div class = "project_block">
              <p class = "project_text">
              A fun little side quest that taught me a lot about how JS code is executed client side that that pausin and unpausing timers isn't quite that simple if you want to make it scalable and interactive. Fun little experience.
            </p>
          </div>
        </div>
      <%= image_tag "https://buczek-blog-bucket.s3.eu-central-1.amazonaws.com/mindful_timers.png", class: "timers_image", size:"600x327" %>
