<div class = "outer_project_block">
  <br>
  <%= link_to  "My submission to the 20s Game Jam, made with Dragon Ruby","https://zortal.itch.io/paleo-ninja", class: "project_subtitle_text", target: :_blank%>
    <div class = "project_block">
      <p class = "project_text">
      A 20s game jam submission. A simple go down platformer where you play as a ninja trying to avoid obstacles and collect delicious meats in a purely described dystopian setting. Made with Dragon Ruby and love.
    </p>
  </div>
</div>
<%= image_tag "https://buczek-blog-bucket.s3.eu-central-1.amazonaws.com/paleo_ninja3.png", class: "horizontal_image" %>
<%= image_tag "https://buczek-blog-bucket.s3.eu-central-1.amazonaws.com/paleo_ninja2.png", class: "horizontal_image" %>
<%= image_tag "https://buczek-blog-bucket.s3.eu-central-1.amazonaws.com/paleo_ninja.png", class: "horizontal_image" %>
