<div class = "outer_project_block">
  <br>
  <%= link_to  "An ongoing passion project, a browser based multiplayer auto battler","https://summoner.games", class: "project_subtitle_text", target: :_blank %>
    <div class = "project_block">
      <p class = "project_text">
      An ongoing project. A browser based prototype for a script based auto battler. An approach I want to try before spending time on the sugar spice and everything nice.

      Not yet playable. Coming to a browser near you anytime between now and never. But hopefully sometime this year.
    </p>
  </div>
</div>
