<div class='timeline-element'>
  <div class='timeline-point'></div>
  <div class='timeline-content'>
    <details class = 'timeline-content-details'>
      <summary class = 'timeline-element-summary'><%= title %></summary>
      <div class='timeline-content-details-container-grid'>
        <div class='timeline-content-details-container-grid-child'>
          <%= render partial: partial %>
        </div>
      </div>
    </details>
  </div>
</div>
