<div class = "outer_project_block ugmssk">
          <br>
          <%= link_to  "Ultimate Giga Master Super Summoner King Online","#", class: "project_title_text", target: :_blank%>
          <%= link_to  "Playable online strategy game","#", class: "project_title_subtext", target: :_blank%>
            <div class = "project_block">
              <p class = "project_text">
              A now deprecated web version of an earlier console based project. A fully playable 2-4 player strategy game where you summon your minions to achieve board domination.
              A passion project that is likely to be revisited in the future. It was a fun lesson in working with websockets, hacking turbo updates to work with itself and the joys of debugging in a multiplayer environment.
            </p>
          </div>
          <%= image_tag "https://buczek-blog-bucket.s3.eu-central-1.amazonaws.com/summoner_game_online_blog.png", class: "ugmssk_image", size: "600x309"  %>
        </div>
