.btn {
  display: inline-block;
  padding: var(--space-xxs) var(--space-m);
  border-radius: var(--border-radius);
  background-origin: border-box; // Invisible borders with linear gradients
  background-color: transparent;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: filter 400ms, color 200ms;

  &:hover,
  &:focus,
  &:focus-within,
  &:active {
    transition: filter 250ms, color 200ms;
  }

  &--primary {
    color: var(--color-dark);

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-highlight);
      filter: saturate(1.4) brightness(115%);
    }
  }

  &--goback {
    color: var(--color-text-header);
    width: 80%;
    text-align: center;
    font-weight: bold;
    transition: 1000ms;
    padding: auto;

    &:hover {
      background-color: var(--color-highlight);
      transition: 500ms;
    }
    &:focus,
    &:focus-within,
    &:active {
    }
  }

  &--admin {
    color: var(--color-dark);
    font-size:var(--font-size-l);
    width: 100%;
    text-align: center;
    font-weight: bold;
    transition: 1000ms;
    padding: 0px;
    background-color: var(--color-primary-bg);
    &:hover {
      background-color: var(--color-highlight);
      transition: 500ms;
    }
    &:focus,
    &:focus-within,
    &:active {
    }
  }

  &--comment {
    color: var(--color-text-header);
    font-weight: bold;
    transition: 1000ms;
    padding: 0px;

    &:hover {
      background-color: var(--color-highlight);
      transition: 500ms;
    }
    &:focus,
    &:focus-within,
    &:active {
    }
  }

  &--menu {
    color: var(--color-text-header);
    font-weight: bold;
    transition: 1000ms;
    padding: auto;

    &:hover {
      background-color: var(--color-highlight);
      transition: 500ms;
    }
    &:focus,
    &:focus-within,
    &:active {
    }
  }
}