
.thumbnail {
  // justify-content: left;
  display: block;
  width: fit-content;
  block-size: fit-content;
  background-image:var(--thumbnail);
  border-color: rgb(0, 0, 0);
  background-color: aqua;
  // margin: auto;
}