<%= turbo_frame_tag "main" do %>
<div class = "about_body">
  <div class = "pic_about">
  <br>
    <p class = "about_top_text"> The picture to the right, yeah, right over there! It's me in all of my hooded, mysterious glory.
    <br><br>
     In spite of years of character developement and self improvement I despise writing about myself.
     I'm a reader of books, the eater of apple pies, a player of racquet sports, volleyball and platformers,
     an aspiring psychologist, even more aspiring programmer,
     a somewhat established analyst and a maker of a blog, just this one to be precise.
     <br>
     Expect nothing; In Polish, English, Ruby or any other flavor nothing comes in and i might just be able to produce.
    </p>
    <%= image_tag "https://buczek-blog-bucket.s3.eu-central-1.amazonaws.com/blog_pic.jpg", alt: "me :D", size: "220x260", class: "blog_pic"%>
  </div>
  <br>
  <p class = "about_text">
    This blog has started as a mere thought when I've began my programming journey sometime in Autumn 2021.
    It just so happened that before I've found my long lost joy of writing, I first needed to find my new love of writing code.
  </p>
    <br>
  <p class = "about_text">
    I'm going to use this place as a "dumping ground" for my thoughts, projects,
    ideas and notions that I will most certainly get and beget as the life goes on,
    to quitely fulfill my dream of writing; As well as a project in it's own right.
    <br>
    When I've begun my coding journey last November with Dawid steadfastly holding my hand I knew sweet fuck all,
    yet the goal as vague as it was, has been to create and publish a "blog".
    A place for me. A domain was acquired, Buczek.blog (fancy, I know, I like it too)
    the project was started sometime in April and I've bounced off of the wall of rails magic
    right the fuck back to the sweet embrace of basic alghorythmics and problem solving on Exercism where I felt right at home.
    <br>
  </p>
  <p class = "about_text">
    It took a whole other project, unrelated run in with writing and a bucketful of other little bits and bobs for me to both make my peace with rails, rediscover the aforementioned love of writing (which is a good motivator to give yourself a platform) as well as an excuse to see what my rails skills are at as we are almost wrapping up my first year.
    This April I couldn't get through basic routing procedures, MVC sounded more like MVP, SOLID was a player who got that award and good lord was the way up looking difficult from all the way down. Alas, here we are. This, right here, is nowhere close to perfect but it's mine, i've carved my own bit of space deep within the fathoms of the internet and so help me whatever god might be listening I'll fucking use it and love the everloving snot out of every second of it.
  </p>
  <p class = "about_text">
    I know the story is chaotic, I apologize but I might just want to tell the story in a more organised fashion some other time, until then, enjoy, so long, and thanks for all the fish.
  </p>
</div>
<% end %>