<div class='container'>
  <div id='content'>
    <%= render partial: 'shared/menu_horizontal', locals: { active: :about } %>
    <div class = "about_body">

      <div class = "profilepic">
          <%= image_tag "https://buczek-blog-bucket.s3.eu-central-1.amazonaws.com/blog_pic.jpg", alt: "me :D", size: "220x260", class: "blog_pic"%>
      </div>

      <p class = "about_text">
        Hey there traveller! Welcome!
        <br>
        <br>
        Name's Mateusz! Professionally I'm a Systems Analyst and a Programmer. I code in Ruby, Rails and JS, dabbling in anything and everything else code related. Web developement, game design, data analytics, you name it I've probably tried it.
        <br>
        <br>
        I'm driven by endless curiosity and a desire to understand how things work. I treat all aspects of coding, analytics and life as a series of puzzles to solve, understand but most importantly enjoy.
        Analytics taught me to love the legacy code. I like bringing back understanding for forgotten parts of complicated systems (and then drawing pretty UML diagrams in EA)
        <br>
        <br>
        Academically I've received highest honors graduating with a masters degree in Clinical Psychology from SWPS University in 2023, having previously received my Bachelors in Psychology at National University of Ireland in Galway in 2018.
        <br>
        <br>
        Less professionally I'm a reader of books, eater of apple pies(the cinamon-less kind!), a player of racquet sports, volleyball, board games and an odd platformer or soulslike.
        Partial to a nice trek or climb be it outdoors or indoors(the climb that is), with mild to less than moderate success.
        <br>
        <br>
        I write, try to learn to draw and generally try to live the life to the fullest while not running myself down or spreading to thin.

        Thanks for stopping by! Hope you enjoy your stay, have a great day and be kind to yourself.
      </p>
    </div>
  </div>
</div>
