.about_body {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  overflow-wrap: normal;
  padding: 3% 3% 150px 3%;
  z-index: 5;
  background-color: #eff0f21c;
  display: flex;
  flex-direction: column;
  border-radius: 2%;
  animation: appear 3s;
}

@media only screen and (min-width: 1050px){
  .about_body {
    flex-direction: row;
  }
}
.profilepic {
  padding-top: 2%;
}

.about_text {
  padding: 2%;
  font-family: fantasy;
  font-size: 2vh;
  color: #41414D;
}

@keyframes appear {
  0% { opacity: 0%; }
  100% { opacity: 100%; }
}
