.archive_list {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  overflow-wrap: normal;
  padding: 3%;
  background-color: #eff0f235;
  border-radius: 2%;
  animation: appear 3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: appear 3s;
  position: absolute;
}

.archive_post {
  width: 80%;
  position: relative;
}

.archive_title {
  font-size: 3vh;
  font-family: fantasy;
  color: #41414D;
  font-weight: bold;
}

.archive_short {
  font-size: 2vh;
  font-family: fantasy;
  color: #41414D;
}

.read_more_link {
  font-family: fantasy;
  text-decoration: none;
  position: absolute;
  right:0;
  bottom: -5%;
  color: #41414D;
}

.read_more_link:hover {
  font-weight: bolder;
}

@media only screen and (min-width: 1050px){
  .archive_title {
    font-size: 3vh;
    font-weight: bold;
  }

  .archive_short {
    font-size: 2vh;
  }
}

@keyframes appear {
  0% { opacity: 0%; }
  100% { opacity: 100%; }
}