* {
  box-sizing:border-box;
  animation-fill-mode: forwards
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0px;
  background-color: #eee7d7;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #41414D;
}

.main_display {
  position: absolute;
  top:5%;
  margin: 1% 2% 5% 2%;
  width: 95vw;
  height: 85vh;
  overflow: hidden;
  z-index: -1;
  animation: appear 2s;
}

.banner {
  margin-top: 10vh ;
  width: 100vw;
  text-align: center;
  color: #41414D;
  opacity: 70%;
  font-family: fantasy;
  font-size: 6vh;
  animation: appearBanner 5s;
}

@media only screen and (min-width: 1050px){
  .banner {
    font-size: 10vh;
  }

  .main_display {
    height: 80vh;
    margin: 5% 2% 5% 2%;
  }

  .footer {
    flex-direction: column;
  }
}

.alert {
  position:fixed;
  display: flex;
  z-index: 5;
  top:15%;
  width: 100vw;
  min-height: 5%;
  margin:0;
  align-items: center;
  justify-content: center;
  background-color: #41414D;
}

.alert-success {
  text-align: center;
  font-size: 2vh;
  font-family: fantasy;
  color: #A18D8B;
}

.cookies {
  position:fixed;
  z-index: 5;
  bottom:10%;
  width: 100vw;
  min-height: 5%;
  margin:0;
  display: none;
  align-items: center;
  justify-content: center;
  animation: appear 1s;
  transition: 100%;
  background-color: #41414D;
}

.cookies_text {
  width: 60%;
  text-align: center;
  font-family: fantasy;
  color: rgb(161, 142, 140);
}

.cookie_button {
  font-size: 2vh;
  width: 5%;
  min-width: 50px;
}

.footer {
  z-index: 3;
  position:fixed;
  bottom:0;
  width: 100vw;
  min-height: 5%;
  margin:0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: appear 5s;
  -webkit-animation: appear 5s;
  -moz-animation: appear 5s;
  -o-animation: appear 5s;
  -ms-animation: appear 5s;
}

.signature {
  display: flex;
  gap: 10px;
  font-family: fantasy;
  font-size: 1vh;
}

@keyframes appear {
  0% { opacity: 0%; }
  100% { opacity: 100%; }
}

@keyframes appearBanner {
  0% { opacity: 0%; }
  40% { opacity: 100%; }
  100% { opacity: 70%; }
}
