.individual_post_highlightbox {
  background-color: #41414d;
  height: auto;
  min-height: 5vh;
}

.individual_post_title {
    position: relative;
    text-decoration: none;
    padding-top: 10px;
    font-family: fantasy;
    font-size: 2vh;
    text-align: center;
    color: #A18D8B;
}

.post_body {
  position: relative;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  overflow-wrap: normal;
  padding:3%;
  animation: appear 2s;
  overflow: auto;
  padding-bottom: 150px;
}

.goback_btn {
  display:block;
  text-align: center;
  padding-top: 1vh;
  font-family: fantasy;
  font-size:2vh;
  width: 100%;
  color: #41414d;
}

.goback_btn:hover {
  background-color: #41414d3b;
  transition: 500ms;
}

.post_controls_wrapper{
  height: 100%;
  width: 100%;
  overflow: auto;
  padding-bottom: 10%;
}

@keyframes appear {
  0% { opacity: 0%; }
  100% { opacity: 100%; }
}
