.posts_navigation {
  padding: 1%;
  top:5%;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: auto;
  animation: appear 3s;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.posts_navigation::-webkit-scrollbar {
  display: none;
}

.post_carousel {
  padding: 3%;
  position: relative;
  height: 85vh;
  width: 85vw;
  opacity: 100%;
  display: flex;
  flex-direction: column;
  border:0;
  margin-top: 0;
}

.post_title_box {
  position: relative;
  margin: 0;
  margin-top: 3%;
  background:#41414D;
  z-index: 1;
}

.post_title_box::after {
  overflow: hidden;
  content: "";
  position:absolute;
  bottom:-20px;
  right:0;
  width:120%;
  height:40px;
  transform:rotate(-2deg);
  background:#41414D;
  z-index: -1;
}

.post_title {
  position: relative;
  text-decoration: none;
  padding-top: 10px;
  font-family: fantasy;
  font-size: 2vh;
  text-align: center;
  color: rgb(161, 142, 140);
}

.post_highlightbox {
  background-color: #41414da4;
}

a{
  text-decoration: none;
}

.post_art {
  overflow: hidden;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;
  background-position: 50% 50%;
}

.archive_link {
  font-family: fantasy;
  color:#41414D;
  animation: appear 3s;
}

.archive_link:hover {
  font-weight: bold;
}

.archive_link_container {
  position: fixed;
  margin: auto;
  top: 8%;
  right: 10%;
}

.post_box {
  display: block;
  min-width: 200px;
  min-height: 150px;
  height: 66%;
  width: 100%;
  margin: 2vw;
  background: rgb(236,132,57);
  background: linear-gradient(0deg, rgba(236,132,57,0.2679665616246498) 0%, rgba(137,133,157,0.444437149859944) 100%);
  -webkit-box-shadow: 8px 8px 27px -5px rgba(47, 55, 47, 1);
  -moz-box-shadow: 8px 8px 27px -5px rgba(47, 55, 47, 1);
  box-shadow: 8px 8px 27px -5px rgba(47, 55, 47, 1);
  border-radius: 5%;
  animation: appear 3s;
  -webkit-animation: appear 3s;
  -moz-animation: appear 3s;
  -o-animation: appear 3s;
  -ms-animation: appear 3s;
}

.post_box:hover {
  -webkit-box-shadow: 8px 8px 27px -11px rgba(47, 55, 47, 1);
  -moz-box-shadow: 8px 8px 27px -11px rgba(47, 55, 47, 1);
  box-shadow: 8px 8px 27px -11px rgba(47, 55, 47, 1);
}

.post_art {
  border-radius: 5%;
}

@media only screen and (min-width: 1050px){
  .posts_navigation {
    display: flex;
    overflow-x: auto;
    top:0;
  }

  .navigation_button {
    z-index: 5;
    height: 5vw;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #41414da5;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top:40%;
    animation: appear 1s;
  }

  .navigation_button:hover {
    -webkit-box-shadow: 2px 2px 15px 0px rgba(47, 55, 47, 1);
    -moz-box-shadow: 2px 2px 15px 0px rgba(47, 55, 47, 1);
    box-shadow: 2px 2px 15px 0px rgba(47, 55, 47, 1);
  }

  .left {
    left:8%;
    display: none;
  }

  .right {
    right:8%;
  }

  .arrow_right {
    z-index: 6;
    margin-left: 0.5vw;
    height: 3vw;
    aspect-ratio: 2.5/3;
    background-image: url('arrow_right.png');
    background-size:contain;
    background-repeat: no-repeat;
  }

  .arrow_left {
    margin-right: 0.5vw;
    height: 3vw;
    aspect-ratio: 2.5/3;
    background-image: url('arrow_left.png');
    background-size:contain;
    background-repeat: no-repeat;
  }


  .archive_link {
    font-family: fantasy;
    font-size: 4vh;
    color:#41414D;
  }

  .archive_link_container {
    position: fixed;
    margin: auto;
    top:75%;
    right: 10%;
  }

  .post_box {
    min-width: 400px;
    min-height: 200px;
    margin-bottom: 5vh;
  }

  .post_title_box::after {
    display: inline;
  }

  .post_carousel {
    height: 74vh;
    top:0;
    padding-top: 5vh;
    flex-direction: row;
    gap: 0;
    transition: 500ms ease-in-out;
  }

  .post_title {
    font-size: 3vh;
  }
}

@keyframes appear {
  0% { opacity: 0%; }
  100% { opacity: 100%; }
}
