<div class='container'>
  <div id='content'>
    <%= render partial: 'shared/menu_horizontal', locals: { active: :creative } %>
    Coming as soon as i can figure some fun front end stuff to put into this section.
  </div>
</div>
